<div class="container mt-5">
  <div class="jumbotron">
    <h1>Welcome to Library App</h1>

    <br>

    <p class="lead">This is a beautiful home page created with Angular and Bootstrap.</p>
    <p class="lead">Before you start, make sure the backend <u>Spring Boot</u> is running.</p>
    <p class="lead">The only requirement is to have <u>XAMPP</u> running.</p>
    <br>
    <h3> Backend GitHub Repository: </h3>
    <ul>
      <h4><li><a href="https://github.com/med-amine01/library.git">https://github.com/med-amine01/library.git</a></li></h4>
    </ul>

    <br>


    <h3>Project made by:</h3>
    <ul>
      <h4><li>Chebbi Med Amine</li></h4>
      <h4><li>Oueslati Mahdi</li></h4>
    </ul>
  </div>
</div>
